terraform/.terraform.tfstate.lock.info
terraform/.terraform/
terraform/secret.auto.tfvars
terraform/secrets/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars
.idea/