# VPC Vars, below are the default value, you can change it if you want
aws_vpc_cidr_block = "10.250.192.0/18"
aws_cidr_subnets_private = ["10.250.192.0/20","10.250.208.0/20"]
aws_cidr_subnets_public = ["10.250.224.0/20","10.250.240.0/20"]

# prefix for the all resources
prefix = ""

vpc_name = ""

security_group_name = ""

# EC2
region = "cn-northwest-1" # default value: "cn-northwest-1"
ec2_instance_key_name = "" # The key to access ec2 instance.

# CI Vars
ci_instance_name = ""
ci_instance_type = "" # default: "t2.small"
ci_instance_port =    # please input a number
